.articleContainer img {
  height: auto !important;
}
.articleContainer p,
.articleContainer span {
  font-size: 22px;
  margin-bottom: 26px;
  font-family: 'Roboto Condensed', sans-serif;
}

.articleContainer h1,
.articleContainer h2,
.articleContainer h3,
.articleContainer h4,
.articleContainer h5,
.articleContainer h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  margin-bottom: 26px;
  font-size: 40px;
}

.articleContainer li,
.articleContainer article {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
}
.articleContainer a {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  color: #5ab1bb !important;
}
