@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;700&family=Montserrat:wght@400;600;700&family=Poppins:wght@400;700&display=swap");
.Font_Mulish_Button_L {
  font-family: "Mulish", sans-serif;
  font-weight: 800;
}
.Font_Mulish_Button_M {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.Font_Lato_Light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.Font_Lato_Bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.Font_Montserrat_Regular {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
.Font_Montserrat_550 {
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}
.Font_Montserrat_Bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.Font_Poppins_Regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.Font_Poppins_SemiBold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.Font_Poppins_Bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.heroBgImage {
  background-image: url("../images/HeroBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.tagSectionBgImage {
  background-image: url("../images/TagSectionBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.eventsBgImage {
  background-image: url("../images/EventsBg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.useCasesBgImage {
  background-image: url("../images/UseCasesBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footerBgImage {
  background-image: url("../images/FooterBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.contributeBGImage {
  background-image: url("../images/ContributeBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/* Target the container */
.ais-RefinementList-list {
  list-style-type: none;
  padding: 10px;
}

/* Target the header */
.ais-RefinementList-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Target the list items */
.ais-RefinementList-item {
  margin-bottom: 5px;
}
.ais-RefinementList-label {
  display: flex;
}
.ais-RefinementList-labelText {
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ais-RefinementList-count {
  margin-left: auto;
  align-items: center;
  background: #f5f5fa;
  border: 1px solid #d6d6e7;
  border-radius: 43px;
  box-sizing: border-box;
  color: #5a5e9a;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  padding: 0 8px;
}
/* Target the refinement options */
.ais-RefinementList-checkbox {
  display: inline-block;
  margin-right: 10px;
}

/* Add hover effect */
.ais-RefinementList-item:hover {
  background-color: #f5f5f5;
}
.ais-RefinementList-showMore {
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  outline: 0;
  color: #fff;

  background-color: #5ab1bb;
  border-color: #5ab1bb;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
